body {
	width: 400px;
}

.header {
	display: flex;
}

.nav-tabs {
	width: 80%;
}

.header-buttons {
	width: 20%;
	text-align: right;
}

.font-button {
	cursor: pointer;
	font-size: 30px;
}

.font-button:hover {
	opacity: 0.8;
}


.memo-area {
	width: 100%;
}

.memo-footer {
	height: 24px;
	text-align: right;
	margin-bottom: 4px;
}

#save_message {
	display: none;
	color: gray;
}

#count_area, #save_message {
	height: 12px;
	font-size: 8px;
	margin: 0;
}

.footer {
	display: flex;
	margin: 10px;
}

.button-box {
	margin: 0 5px;
	vertical-align: middle;
}

.option {
	text-align: right;
}

#size_input {
	width: 80px;
	display: none;
	opacity: 0;
}


@keyframes slide-in {
	0% {
		transform: translateX(-30px);
		transform: scale(-1, 1);
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
		transform: scale(-1, 1);
	}
}

@keyframes slide-out {
	0% {
		opacity: 1;
		transform: translateX(0px);
		transform: scale(-1, 1);
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		transform: translateX(-30px);
		transform: scale(-1, 1);
	}
}