body {
	width: 400px;
	padding: 5px;
}

.header {
	display: flex;
	border-bottom: 1px solid #dee2e6;
}

.nav-tabs {
	width: 82%;
}

.header-buttons {
	width: 18%;
	text-align: right;
}

#add {
	color: #6c757d;
}

#delete {
	color: #dc3545;
}

.font-button {
	cursor: pointer;
	font-size: 30px;
}

.font-button:hover {
	opacity: 0.8;
}


.memo-area {
	font-size: 14px;
	width: 100%;
	height: 250px;
}

.memo-footer {
	height: 24px;
	text-align: right;
	margin-bottom: 4px;
}

#save_message {
	display: none;
	color: gray;
}

#count_area, #save_message {
	height: 12px;
	font-size: 8px;
	margin: 0;
}

.footer {
	display: flex;
	padding: 8px 5px 0px 5px;
	border-top: 1px solid #6c757d;
}

.button-box {
	margin: 0 5px;
	vertical-align: middle;
}

.button-box:last-child {
	margin-left: auto;
}

.icon-button {
	padding: 2px;
}

.icon-text {
	font-size: 5px;
	margin: 0px;
}

.option {
	text-align: right;
}

#size_input {
	width: 80px;
	display: none;
	opacity: 0;
}

@keyframes slide-in {
	0% {
		transform: translateX(-30px);
		transform: scale(-1, 1);
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
		transform: scale(-1, 1);
	}
}

@keyframes slide-out {
	0% {
		opacity: 1;
		transform: translateX(0px);
		transform: scale(-1, 1);
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		transform: translateX(-30px);
		transform: scale(-1, 1);
	}
}