body {
	width: 400px;
}

.memo-area {
	width: 100%;
}

.memo-footer {
	height: 24px;
	text-align: right;
	margin-bottom: 4px;
}

#save_message {
	display: none;
	color: gray;
}

#count_area, #save_message {
	height: 12px;
	font-size: 8px;
	margin: 0;
}

.option img {
	width: 25px;
	height: 25px;
}